.env
.idea/*
.vscode/*
.cursor/*
!.idea/copyright/
!.idea/prettier.xml
!.idea/google-java-format.xml
chat_store.json
databases/
**/docling-output.txt
**/.DS_Store
.history
addresses/
tools/mcp.json
scripts/document_list.txt